<div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Defines navigation bar button -->
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IBM</a>
        </div>

        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <!-- Collects nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item disabled">
                    <a>{{ctrl.header}}</a>
                    <!--<a href="#!/page2"
                       data-target="#page2"
                       data-toggle="tab">-->
                        
                        <!--<span class="sr-only"></span>-->
                    <!--</a>-->
                </li>
                <li class="nav-item active">
                    <a href="#!/page2"
                       data-target="#page2"
                       data-toggle="tab">
                        Back
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!/page5"
                       data-target="#page5"
                       data-toggle="tab">
                       Select Products
                        <span class="sr-only"></span>
                    </a>
                </li>


        </div> 
        <!--/.navbar-collapse -->

    </div><!-- /.container-fluid -->


</nav>

    <!--<h3>Page 4</h3>-->
    <!--<h1>{{ctrl.header}}</h1>-->


    <table class="table">
        <thead> 
            <td>Part Number</td>
            <td>Code Name</td>
            <td>Commodity</td>
            <td>Brand / Model-Type-Number / Code</td>
            <td>FRU P/N</td>                        
        </thead>

        <tbody>
            <tr ng-repeat="i in ctrl.searchResults" >
                <td>
                    <span ng-hide="editMode">{{i.part_number}}</span>
                    <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.part_number" />
                </td>
                <td>
                    <span ng-hide="editMode">{{i.part_number_code}}</span>
                    <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.part_number_code" />
                </td>
                <td>
                    
                    <span ng-hide="editMode">{{i.commodity}}</span>
                    <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.commodity" />
                </td>
                <td>
                    
                    <span ng-hide="editMode">{{i.model_type_number}}</span>
                    <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.model_type_number" />
                </td>
                <td>
                    
                    <span ng-hide="editMode">{{i.fru_part_number}}</span>
                    <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.fru_part_number" />
                </td>
                <td>
                    <div align="right">
                        <button  ng-hide="editMode" type="button" class="btn btn-primary" ng-click="editMode=true" >
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" data-ng-show="editMode" ng-click="editMode = false; ctrl.updateProduct(i.id)" class="btn btn-default">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                    </div>                  
                </td>
                <td>
                    <div align="right">
                        <button  ng-hide="editMode" type="button" ng-click="editMode = false; ctrl.deleteProduct(i.id)"  class="btn btn-danger" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <button type="button" data-ng-show="editMode" ng-click="editMode = false" class="btn btn-default">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </button>                        
                    </div>                  
                </td>
                <!--<td>
                    <button type="submit" data-ng-show="editMode" ng-click="editMode = false" class="btn btn-default">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                </td>
                <td>
                <button type="submit" data-ng-show="editMode" ng-click="editMode = false" class="btn btn-default">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                </button>
                </td>-->


 
 
            </tr>

        </tbody>

    </table>



</div>